<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whisky List</title>
</head>
<body>

{% extends 'base.html' %}

{% block title %}
<h2>Whisky list</h2>
{% endblock %}

{% block content %}
{% if whisky_list %}
<div class="row">
    {% for whisky in whisky_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:whisky_detail' whisky.id %}">
            {{ whisky.name }}
        </a></h4>
        <h5>{{ whisky.review_set.count }} reviews</h5>
        <h5>{{ whisky.average_rating | floatformat }} average rating</h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No whisky are available.</p>
{% endif %}
{% endblock %}

</body>
</html>